body {
    padding: 3rem;
    background-color: grey;
}

h1 {
    text-align: center;
}

label {
    text-align: center;
}

ul {
    font-size: 1.5rem;
    list-style: none;
}

button {
    color: gold;
    font-size: 1.5rem;
}

#stuff {
    padding: 4rem 5rem 0rem;
}

#title {
    font-size: 2.2rem;
}

#stuff {
    text-align: center;
}

.buttonHolder {
    text-align: center;
}